{% extends 'base.html' %}
{% load static %}

{% block title %} Pattern {% endblock title %}

{% block content  %}
<div class="">
    {% block page_title %} Patterns {% endblock page_title %}
    <ol>
        <li> <a href="/female_page"> By Female Kidnappings </a> </li>
        <li> <a href="/male_page"> By Male Kidnappings </a> </li>
        <li> <a href="/male_female_page"> Male vs Female Kidnappings </a> </li>
        <li> <a href="/zone_page"> By Zone Kidnappings </a> </li>
    </ol>    
    <hr><br>
    <div class="">

    </div>
</div>
{% endblock content %}