<!-- Page Sidebar Start-->
{% load static %}
<div class="sidebar-wrapper">
    <div>
        <div class="logo-wrapper">
            <a href="/home">
                <h4 style="color:#fff;"><strong>PRP System</strong></h4>
                <!-- <img class="img-fluid for-light" src="assets/images/logo/logo.png" alt=""> -->

            </a>
            <div class="back-btn"><i class="fa fa-angle-left"></i></div>
            <!-- <div class="toggle-sidebar"><i class="fa fa-cog status_toggle middle sidebar-toggle"> </i></div> -->
        </div>
        <div class="logo-icon-wrapper">
            <a href="index.html"><img class="img-fluid" src="{% static 'assets/images/logo/logo-icon1.png' %}" alt=""></a>
        </div>
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="back-btn">
                        <a href="/home">
                            <!-- <img class="img-fluid" src="assets/images/logo/logo-icon.png" alt=""> -->
                            <h4 style="color:#fff;"><strong>PRP System</strong></h4>
                        </a>
                        <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                    </li>
                    <!-- <li class="sidebar-main-title">
                        <h6>Menu</h6>
                    </li> -->
                    <li class="menu-box">
                        <ul>
                            <li class="sidebar-list">
                                <a class="sidebar-link sidebar-title link-nav" href="/home"><i data-feather="home"></i><span>Home</span></a>
                            </li>

                            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/data_page"><i data-feather="git-pull-request"> </i><span>Data</span></a></li>

                            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/view_page"><i data-feather="monitor"> </i><span>View</span></a></li>

                            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/pattern_page"><i data-feather="list"> </i><span>Pattern</span></a></li>

                            <!-- <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href=""><i data-feather="server"> </i><span>Predict</span></a></li> -->

                            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/accuracy"><i data-feather="check-square"> </i><span>Prediction</span></a></li>

                            <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/"><i data-feather="log-out"> </i><span>Exit</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </nav>
    </div>
</div>
<!-- Page Sidebar Ends-->